@()
@layouts.main("Activity Finder"){
	<div class="row">
		<div class="col-12 col-sm-8">
			<h1>Montreal Activities</h1>
			<ol>
				<li><a href="https://www.mtl.org/en/what-to-do/festivals-and-events/les-etudes-heresies-1-7-montreal">Les études (hérésies 1-7)</a> </li>
				<li><a href="https://www.mtl.org/en/what-to-do/festivals-and-events/liminals-para-fiction-transcendence-jeremy-shaw">
					Liminals: A Para-fiction of Transcendence by Jeremy Shaw</a> </li>
				<li>Activity</li>
				<li>Activity</li>
				<li>Activity</li>
			</ol>
		</div>  <!-- END OF left div for activities-->


		<!-- right div for Activities-->
		<div class="col-12 col-sm-4">
			<h1>Filter</h1>
			<div><label>Search <input type="text" placeholder="Search.."></label></div>

			Language :
			<select>
				<option value="">English</option>
				<option value="">French</option>
				<option value="">Bilingual</option>
			</select><br>


			Level of Language :
			<select>
				<option value="">Everyone</option>
				<option value="">Advanced</option>
				<option value="">Buddy Required</option>
			</select><br>


			City :
			<select>
				<option value="">Montreal</option>
				<option value="">Laval</option>
				<option value="">Toronto</option>
			</select><br>


			Type of Activity :
			<select>
				<option value="">Museum & Culture</option>
				<option value="">Heritage & Architecture</option>
				<option value="">Tours</option>
				<option value="">Food</option>
			</select><br>


		</div>
	</div>
}