@()
@layouts.main("Log In") {
	<form class="form-signin">
		<h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
		<label for="inputEmail" class="sr-only">
			Username</label><input type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus><br>
		<label for="inputPassword" class="sr-only">
			Password</label><input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" value="remember-me"> Remember me
			</label>
		</div>

		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

		<a href="@routes.HomeController.loginFR()">Log in as a FR user</a>
		<a href="@routes.HomeController.loginEN()">Log in as an EN user</a>
}